<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="/public/css/style.css" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<title>New York Times Scraper</title>
</head>

<body>
 <div class="container">
	
 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">New York Times Article Scraper</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/"id="all-articles">All Articles</a></li>
        <li><a href="/saved" id="saved-articles"> Saved Articles</a></li>
        <li><form action="/scrape" method="GET">
            <button type="submit" id="refresh-articles">Scrape For Newest Articles</button></li>
            </form>
        </ul>   
    </div>
  </nav>



	<img id="cover" src="/public/images/news.jpg">
	<div id="container">
		{{{ body }}}
	</div>
	
	<script src="/public/javascript/app.js"></script>

	<div id="addnote">
		<div id="note-displayer">
			<h3>Note</h3>
			<h4>Article: <span id="article-title"></span></h4>
			<div id="note">
				<label for="note-title">Title</label><br>
				<input type="text" placeholder="Title" name="title" id="note-title"><br>
				<label for="note-body">Note</label><br>
				<textarea rows="7" placeholder="Note" id="note-body"></textarea><br>
				<button type="submit" id="add-note">Save Note</button>
				<button type="button" id="close-note">Cancel</button>
			</div>
		</div>
	</div>
	
	<footer>© Copyright 2018 Eissler Consulting</footer>
	<script src="/public/javascript/app.js"></script>
</div>
</body>
</html>